@CHARSET "UTF-8";

body {
    overflow: auto;
}

@font-face {
    font-family: "汉仪文黑";
    src: url("../font/zh-cn.ttf");
}

div {
    margin: auto;
}

* {
    margin: 0;
    font-family: "汉仪文黑";
    box-sizing: border-box;
}

.register_main_body {
    background: url("../pngs/registerBackground_2048x1439.jpg") no-repeat;
    background-size: cover;
    background-attachment: scroll;
    margin-top: 0;
    height: 100vh;
    overflow-y: scroll;
}

.register_form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: auto;
    border-radius: 25px 25px 25px 25px;
    border: 0px solid #fff;
    box-shadow: 10px 10px 10px 10px #969696;
    background-color: #fff;
}

.register_form .register_form_head1 {
    background-color: #bbdefb;
    border: 0px solid #fff;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px 25px 0 0;
    display: flex;
}

.register_form .register_form_head1 .register_form_head1_div {
    padding-top: 2%;
    padding-bottom: 1%;
}

.register_form .register_form_head1 .register_form_head1_div .register_form_head1_word {
    padding-top: 2%;
    font-size: 25px;
    color: white;
}

.register_form .register_form_head1 .register_form_head1_div {
    padding-top: 0px;
}

.register_form .register_form_head2 {
    justify-content: center;
    align-items: flex-end;
    background: #bbdefb;
    border-radius: 0 0 0 0;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.register_form .register_form_head2 .register_form_home_href_a1 {
    color: white;
    background: #54aff9;
    padding: 3px 1.5em 2px 1.5em;
    border-radius: 0 10px 0 0;
    box-shadow: 0 0 5px 0px #969696;
}

.register_form .register_form_head2 .register_form_logo_div {
    background: #bbdefb;
    position: center;
}

.register_form .register_form_head2 .register_form_logo_div .register_form_logo {
    max-width: 80px;
    vertical-align: middle;
    horiz-align: center;
}

.register_form .register_form_head2 .register_form_home_href_a2 {
    color: white;
    background: #54aff9;
    padding: 3px 1.5em 2px 1.5em;
    border-radius: 10px 0 0 0px;
    box-shadow: 0 0 5px 0px #969696;
    text-align: center;
}

.register_form .form_body {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-end;
    border-radius: 0 0 0 0;
}

.input_container {
    position: relative;
    width: 400px;
    margin-bottom: 20px;
}

.flex_container {
    display: flex;
    justify-content: space-between;
}

.input_container_for_role {
    margin-bottom: 5px;
}

.input_container_for_form_bottom {
    margin-bottom: 5px;
}

.flex_container > div:not(:last-child) {
    margin-right: 20px;
}

.verification_help {
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.verification_help:hover {
    text-decoration: underline;
}

.tooltip {
    display: none;
    position: absolute;
    left: 18%;
    top: 60%;
    transform: translateY(50%);
    padding: 5px 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 14px;
    color: #333;
    z-index: 10;
}

.verification_help.clicked + .tooltip {
    display: block;
}

.itxt {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #cccccc;
    border-radius: 25px;
    background-color: transparent;
    transition: border-radius 0.3s, border-color 0.3s;
    outline: none;
}

.itxt_phone {
    width: 200px;
}

.itxt:focus {
    border-color: #007bff;
    border-radius: 5px;
}

.itxt + label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
    transition: top 0.3s, font-size 0.3s, color 0.3s;
}

.itxt:focus + label,
.itxt:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color: #007bff;
}

.role_decoration {
    margin-left: 40px;
}

.form_bottom {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-end;
    border-radius: 0 0 0 0;
}

.error {
    color: red;
    font-size: 14px;
}

.success {
    color: green;
}

.success_for_code {
    color: green;
}

.form .itxt {
    float: none;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    padding: 10px 0 10px 10px;
    width: 250px;
    border: 1px #e3e3e3 solid;
}

.get_verification_code_button {
    display: block;
    margin: 20px auto;
    width: 100%;
    padding: 10px 15px;
    background-color: #54aff9;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.get_verification_code_button:hover {
    background-color: #4994d1;
    border-radius: 8px;
}

.submit_button {
    display: block;
    margin: 20px auto;
    width: 100%;
    padding: 10px 15px;
    background-color: #54aff9;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

.submit_button:hover {
    background-color: #4994d1;
    border-radius: 8px;
}

.countdown_timer {
    color: green;
    margin-left: 10px;
}

@keyframes pop_up_window_animation {
    from {
        transform: scale(0.1);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.pop_up_window {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.32);
    animation-name: pop_up_window_animation;
    animation-duration: 0.5s;
}

@media screen and (min-width: 1920px) {
    .pop_up_window_content {
        background-color: #fefefe;
        margin: 15% auto;
        border: 1px solid #888;
        width: 550px;
        height: 300px;
        border-radius: 25px 25px 25px 25px;
    }

    .pop_up_window_content_head {
        vertical-align: middle;
        background: #bbdefb;
        border-radius: 25px 25px 0 0;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        border: 0px solid #888;
    }

    .warning_logo {
        max-width: 60px;
        margin-left: 20px;
    }

    .warning_text {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 30px;
    }

    .pop_up_window_content_body {
        margin-top: 4%;
        vertical-align: text-bottom;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .pop_up_image {
        max-width: 100px;
        max-height: 100px;
        horiz-align: center;
    }

    .pop_up_window_message {
        vertical-align: bottom;
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .i_know_button_div {
        padding-top: 15px;
        vertical-align: middle;
        horiz-align: center;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
}

@media screen and (max-width: 1920px) {
    .login_main_body {
        background: url("../pngs/registerbackground_1920x1080.jpg") no-repeat;
        background-size: cover;
        background-attachment: scroll;
        margin-top: 0;
        height: 80vh;
        overflow: scroll;
    }

    .pop_up_window_content {
        background-color: #fefefe;
        margin: 15% auto;
        border: 1px solid #888;
        width: 450px;
        height: 250px;
        border-radius: 25px 25px 25px 25px;
    }

    .pop_up_window_content_head {
        vertical-align: middle;
        background: #bbdefb;
        border-radius: 25px 25px 0 0;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        border: 0px solid #888;
    }

    .warning_logo {
        max-width: 60px;
        margin-left: 20px;
    }

    .warning_text {
        font-size: 20px;
        margin-top: 15px;
        margin-left: 30px;
    }

    .pop_up_window_content_body {
        margin-top: 3%;
        vertical-align: text-bottom;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .pop_up_image {
        max-width: 80px;
        max-height: 80px;
        horiz-align: center;
    }

    .pop_up_window_message {
        vertical-align: bottom;
        padding-top: 8px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .i_know_button_div {
        padding-top: 10px;
        vertical-align: middle;
        horiz-align: center;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
}